@CHARSET "UTF-8";

#top{
	background-color: rgb(2, 101, 192);
	padding: 10px 0 10px 10px 
}

#stc-logo{
	float: left;
	padding: 7px;
	
}

#div-top{
	top: 0;
	right: 0;
	left: 0;
	position: fixed;
	z-index: 80;
}

#divLogo {
	position: absolute;
	z-index: 100;
}

#div-menu{
	background-color: rgb(0, 0, 0);
	top: 0px
	left: 0px;
	right: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 70px;
	height: 20px;
	margin-bottom: 20px;
}

#div-logout{
	position: absolute;
	z-index: 100;
	right: 4px;
	top: 4px;
}

body, html{
	padding: 0;
	margin: 0;
	height: 100%;
}

h1{
	margin: 0;
	padding: 0;
	left: 40px;
	color: rgb(0, 43, 134);
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 0 #000;
}

h4{
	margin: 0;
	padding: 0;
	margin-left: 10px;
	color: rgb(0, 43, 134);
	font-family: Arial, Helvetica, sans-serif;
}

.stcInput{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	border-radius: 6px;
}

.stcHR1 {
      color: #f00;
      background-color: rgb(0, 43, 134);
      height: 3px;
      margin: 0;
}

.stcHR2 {
      color: #f00;
      background-color: rgb(2, 101, 192);
      height: 2px;
      margin: 0;
      padding: 0;
}

#rodape{
	background-color: rgb(0, 43, 134);
	width: 100%;
	height: 40px;
	position: relative;
	bottom: 0;
	left: 0;
	padding-bottom: 5px;
}

#body{
	background-color: white;
	padding: 80px 30px 20px 20px;
	position: relative;
	height: 100%;
}

.conteudo{
	background-color: #D3D8DA;
	border-radius: 8px;
	box-shadow: rgba(1, 1, 1, 0.701961) 0px 0px 5px 0px;
	box-sizing: border-box;
	opacity:1;
	padding-top: 15px;
	width: 100%;
	margin-top: 10px;
	border: solid;
	border-width: 1px;
}

.conteudo-arg{
	background-color: #D3D8DA;
	border-radius: 8px;
	box-shadow: rgba(1, 1, 1, 0.701961) 0px 0px 5px 0px;
	box-sizing: border-box;
	opacity:1;
	border: solid;
	border-width: 1px;
	margin-top: 8px;
}

/* Main */
#menu{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 20px;
	list-style: none;  
}

#menu li{
	float: left;
	padding: 0 0 10px 0;
	position: relative;
}

#menu a{
	float: left;
	height: 25px;
	padding: 0 25px;
	color: #999;
	font: bold 13px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#menu li:hover > a{
	color: #fafafa;
}

*html #menu li a:hover{ /* IE6 */
	color: #fafafa;
}

#menu li:hover > ul{
	display: block;
}

/* Sub-menu */

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 35px;
    left: 10px;
    z-index: 99999;    
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);    
    background: -o-linear-gradient(#444, #111);	
    background: -ms-linear-gradient(#444, #111);	
    background: linear-gradient(#444, #111);	
    -moz-border-radius: 5px;
    border-radius: 5px;
    opacity:0.85;
}

#menu ul li{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

#menu ul a{    
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
    width: 100px;
}

*html #menu ul a{ /* IE6 */   
	height: 10px;
	width: 100px;
}

*:first-child+html #menu ul a{ /* IE7 */    
	height: 10px;
	width: 100px;
}

#menu ul a:hover{
        background: #0186ba;
	background: -moz-linear-gradient(#04acec,  #0186ba);	
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background: -webkit-linear-gradient(#04acec,  #0186ba);
	background: -o-linear-gradient(#04acec,  #0186ba);
	background: -ms-linear-gradient(#04acec,  #0186ba);
	background: linear-gradient(#04acec,  #0186ba);
}

#menu ul li:first-child a{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after{
    content: '';
    position: absolute;
    left: 50px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after{
    border-bottom-color: #04acec; 
}

#menu ul li:last-child a{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#menu:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */

#emailRodape{
	float: right;
	padding: 10px;
	color: white;
	font: bold 13px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

.stcFormApropriacao{
	padding: 10px;
	color: black;
	font: bold 14px/25px Arial, Helvetica;
	text-decoration: none;
	opacity:1;
}

.stcCSS3 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #ffffff;
	padding: 5px 13px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#1ba2e0 20%,
		#0c43a3);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(rgb(7, 46, 90)),
		color-stop(0.20, #031D6F),
		to(#02245F));
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 4px;
	border: 1px solid #3c5d9e;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px -1px 0px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 1px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}

.stcCSS3:hover {
  opacity: 0.8;
}

.stcArea{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	width: 580px;
	height: 150px;
	max-width: 580px;
	max-height: 400px;
}

.stcCombo{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	width: 200px;
	margin-right: 10px;
}

.stcDivPrazo{
	background-color: darkgray;
	border-radius: 10px;
	box-shadow: rgba(1, 1, 1, 0.701961) 0px 0px 15px 0px;
	box-sizing: border-box;
	padding: 15px;
	height: 130px;
	width: 580px;
	margin-bottom: 15px;
	margin-top: 15px;
	display: none;
	padding: 5px;
}

div.ui-datepicker{
 font-size:13px;
}



@font-face {
	font-family: 'icomoon';
	src:url('/stc/midia/svg/icomoon.eot');
	src:url('/stc/midia/svg/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/stc/midia/svg/icomoon.woff') format('woff'),
		url('/stc/midia/svg/icomoon.ttf') format('truetype'),
		url('/stc/midia/svg/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-pencil, .icon-list, .icon-pencil-2, .icon-list-2, .icon-chart, .icon-file, .icon-file-2, .icon-upload, .icon-drawer, .icon-loop {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

#divTable{
	padding: 10px;
	padding-top: 0;
}

.tbConsultaAprop {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.tbConsultaAprop table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.tbConsultaAprop tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.tbConsultaAprop table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.tbConsultaAprop table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}
.tbConsultaAprop tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}
.tbConsultaAprop tr:hover td{
	
}
.tbConsultaAprop tr:nth-child(odd){ background-color:#aad4ff; }
.tbConsultaAprop tr:nth-child(even)    { background-color:#ffffff; }.tbConsultaAprop td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
.tbConsultaAprop tr:last-child td{
	border-width:0px 1px 0px 0px;
}
.tbConsultaAprop tr td:last-child{
	border-width:0px 0px 1px 0px;
}
.tbConsultaAprop tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tbConsultaAprop tr:first-child td{
		background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.tbConsultaAprop tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
}
.tbConsultaAprop tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tbConsultaAprop tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

#tbArgConsultaAprop td{
	height:100%;
	margin:0px;padding:0px;
}

